<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adminstrator.guaguakaapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="com.adminstrator.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/p7"
        android:label="@string/app_name"
        android:roundIcon="@drawable/p7"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 刮奖效果Demo -->
        <activity android:name=".activity.ScratchActivity">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <!-- 使用Px设置宽高、leftMargin、topMargin，并做缩放 -->
        <activity android:name=".activity.PxActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <!-- 下载文件、解压文件、从解压后的文件中获取图片 -->
        <activity android:name=".activity.LoadAndUnzipFileActivity">

            <!--
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />

                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
            -->
        </activity>

        <!-- RecyclerView实现瀑布流、下拉刷新和上拉加载 -->
        <activity android:name=".activity.WaterFallActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <!-- 项目Demo -->
        <activity
            android:name=".gaugaule.activity.GuaGuaKaHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme">

            <!--
               <intent-filter>
                   <action android:name="android.intent.action.MAIN" />

                   <category android:name="android.intent.category.LAUNCHER" />
               </intent-filter>
            -->
        </activity>
        <activity android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_theme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>